@font-face {
    font-family: "NotoSansKR-Regular";
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

.GroupHome {
    background-color: rgb(245, 245, 245);
}

/* 상단 그룹 이름 */
.GroupHome .groupName {
    display: flex;
    gap: min(0.69vw, 10px);
    justify-content: center;
    align-items: center;
    padding-top: 0.8vw;
    margin-bottom: min(18px, 1.25vw);
}

.GroupHome .groupName > img {
    width: min(2.1vw, 36px);
    height: min(2.1vw, 30.3px);
}

/* home_img 옆으로 홀쭉하길래 조정해줌 */
.GroupHome .groupName .home_img {
    width: min(36px, 2.5vw);
}

.GroupHome .groupName > h3 {
    font-size: min(30.3px, 2.1vw);
    font-family: sans-serif, "NotoSansKR-Bold";
}

/* 하단 그룹 주요 기능 */
.GroupHome .groupSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: min(40px, 2.7vw);
}

.GroupHome .groupHomeUnder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(40px, 2.77vw);
    margin-bottom: min(18px, 1.25vw);
}

.GroupHome .groupHomeUnder .groupSpace {
    background-color: white;
    width: min(696px, 48.3vw);
    height: min(696px, 48.3vw);
    border-radius: 15px;
}

.GroupHome .groupHomeRE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(30px, 2.08vw);
    margin-bottom: min(40px, 2.7vw);
}

/* 그룹 규칙 */
.GroupHome .groupRule {
    background-color: white;
    width: min(39.2vw, 564px);
    height: min(18.3vw, 264px);
    border-radius: 15px;
}

.GroupHome .groupRule > h3 {
    margin-top: min(33px, 2.3vw);
    text-align: center;

    font-size: min(1.66vw, 24px);
}

.ruleContent {
    padding-left: min(50.5px, 3.5vw);
    padding-right: min(50.5px, 3.5vw);
    padding-bottom: min(2.3vw, 33.1px);

    font-size: min(1.38vw, 20px);
}

/* 그룹원 평가 */
.GroupHome .groupEval {
    background-color: white;
    width: min(39.2vw, 564px);
    height: min(28vw, 402px);
    border-radius: 15px;
    position: relative;
}

.groupEval > h3 {
    margin-top: min(33px, 2.3vw);
    text-align: center;

    font-size: min(1.66vw, 24px);
}

.groupEval .members {
    padding-left: min(3vw, 43.2px);
    padding-right: min(3vw, 43.2px);
    margin-top: min(2.5vw, 36px);
}

.groupEval .Button_eval {
    width: min(9.02vw, 130px);
    height: min(2.77vw, 40px);
    border-radius: 15px;

    color: white;
    font-size: min(1vw, 15px);
    line-height: min(2.77vw, 40px);

    position: absolute;
    top: min(1vw, 15px);
    right: min(1vw, 15px);
}
