html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245); /* 원하는 색으로 바꿔도 됨 */
}

.GroupHome {
    margin: 40px 70px;
    background-color: rgb(245, 245, 245);
}

/* 상단 그룹 이름 */
.GroupHome .groupName {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.GroupHome h3 {
    font-size: 32px;
    font-weight: bold;
}

.GroupHome .groupName .pencil_img {
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
}

/* home_img 옆으로 홀쭉하길래 조정해줌 */
.GroupHome .groupName .home_img {
    width: 35px;
    height: 27px;
    margin-bottom: 8px;
}

/* 하단 주요 기능 */
.GroupHome .groupHomeUnder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* 공간 구조도 */
.GroupHome .groupSpace {
    width: 50vw;
    height: 50vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 40px;
}

/* 그룹 규칙, 평가 */
.GroupHome .groupHomeRE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    margin-bottom: 40px;
}

/* 그룹 규칙 */
.GroupHome .groupRule {
    width: 39vw;
    height: 19vw;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}

.GroupHome .groupRule > h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.GroupHome .groupRule .ruleContent {
    font-size: 16px;
}

/* 그룹 평가 */
.GroupHome .groupEval {
    width: 39vw;
    height: 29vw;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    position: relative;
}

.GroupHome .groupEval > h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}

.GroupHome .Button_eval {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    color: white;

    font-size: 15px;
}
