.GListItem {
    display: flex;
    align-items: center;
    gap: min(28px, 2vw);
    width: min(28.95vw, 416.8px);
    height: min(79px, 5.5vw);
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    margin-left: min(43px, 3vw);
    margin-bottom: min(9px, 0.63vw);
    padding-left: min(12px, 0.83vw);
    position: relative;
}

.GListItem .Badge {
    margin-right: min(20px, 1.4vw);
    width: min(50px, 3.47vw);
    height: min(50px, 3.47vw);
}

.GListItem .toClean {
    font-size: min(1.22vw, 1rem);
    max-width: min(90px, 6.25vw);
}

.GListItem .deadLine {
    font-size: min(1.22vw, 1rem);
    position: absolute;
    left: min(280px, 19.5vw);
    max-width: min(60px, 4.2vw);
}

.GListItem .Button_done {
    width: min(50px, 3.47vw);
    height: min(29px, 2vw);
    border-radius: 10px;
    position: absolute;
    right: min(14px, 1vw);
    font-size: min(0.88vw, 0.78rem);
    color: white;
}

.GListItem .Button_delete {
    width: min(50px, 3.47vw);
    height: min(29px, 2vw);
    border-radius: 10px;
    position: absolute;
    right: min(10px, 0.7vw);
    color: rgb(103, 103, 103);
    background-color: transparent;

    font-size: 22px;
    font-weight: bold;
}
