/* 폰트 크기 */
@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: "bold";
    font-style: "normal";

    font-family: "NotoSansKR-Regular";
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: "normal";
    font-style: "normal";
}

/* 장소 */
.PListAddModal .selectedPlace {
    background-color: #b0ebcd;
    width: 8.5vw;
    height: 3.05vw;
    border-radius: 80px;
    margin-bottom: 2.5vw;

    font-size: min(1.7vw, 25px);
    font-weight: bold;
    line-height: min(43.2px, 3vw);
    text-align: center;
}

/* 장소 dropdown (jsx 파일에 직접 적음)*/
.PListAddModal .place_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(0.7vw, 10.08px);
}
.PListAddModal .place_text {
    margin-left: 0;
    font-weight: 549;
}

/* 할 일(to-clean) */
.PListAddModal .createToClean {
    display: flex;
    flex-direction: column;
    gap: min(0.7vw, 10.08px);
    margin-bottom: min(1.5vw, 21.6px);
}

.PListAddModal .toClean_text {
    font-weight: 549;
    font-size: 1rem;
    text-align: center;
}

.PListAddModal .createToClean > textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 15px;

    width: min(32vw, 462.1px);
    height: min(3.5vw, 50.4px);
    padding-left: min(1.6vw, 23.04px);
    padding-right: min(1.6vw, 23.04px);
    margin-bottom: 0vw;
    margin-bottom: 0vw;

    resize: none;
    overflow: hidden;

    font-size: 1.1rem;
    line-height: min(3.2vw, 46px);
    text-align: center;
}

/* 마감 기한 */
.PListAddModal .createDeadLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(0.6vw, 8.64px);
}
.PListAddModal .date {
    width: min(12vw, 173px);
    height: min(3vw, 43px);
}

.PListAddModal .deadLine_text {
    font-weight: 549;
    font-size: 1rem;
    text-align: center;
    margin-left: 0;
}

.PListAddModal .DatePicker {
    width: min(13vw, 187.7px);
    height: min(3.6vw, 52px);
    border: none;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin-bottom: 2.7vw;

    text-align: center;
    font-size: 1.2rem;
    line-height: min(3.6vw, 52px);
}

/* 저장 버튼 */
.PListAddModal .Button_save {
    margin-left: 24vw;
    margin-bottom: 1vw;
    margin-top: 0.3vw;

    width: 8.1vw;
    height: min(3.2vw, 46px);
    border-radius: 15px;

    font-size: min(1.7vw, 24.548px);
    color: white;
    font-weight: bold;
    line-height: min(3.2vw, 46px);
}
