/* 폰트 크기 */
@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: "bold";
    font-style: "normal";

    font-family: "NotoSansKR-Regular";
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: "normal";
    font-style: "normal";
}

/* 장소 */
.PListAddModal .selectedPlace {
    background-color: #b0ebcd;
    width: min(8.7vw, 125.28px);
    height: min(3vw, 43.2px);
    border-radius: 80px;
    margin-bottom: min(2.77vw, 39.89px);

    font-size: min(1.7vw, 24.48px);
    font-weight: bold;
    line-height: min(3vw, 43.2px);
    text-align: center;
}

/* 장소 dropdown */
.PListAddModal .place_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(0.7vw, 10.08px);
}
.PListAddModal .place_text {
    margin-left: 0;
    font-weight: 549;
}

.w-100:focus {
    border: 1.5px solid #aee9d1;
    outline: none;
    box-shadow: 0 0 0 1px #aee9d1;
}

/* 할 일(to-clean) */
.PListAddModal .createToClean {
    display: flex;
    flex-direction: column;
    gap: min(0.7vw, 10.08px);
    margin-bottom: min(2vw, 28.8px);
}

.PListAddModal .toClean_text {
    font-weight: 549;
    font-size: min(1.11vw, 1rem); /* 1rem ≈ 1.11vw */
    text-align: center;
}

.PListAddModal .createToClean > textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 15px;

    width: min(32vw, 460.8px);
    height: min(3.5vw, 50.4px);
    padding-left: min(1.6vw, 23.04px);
    padding-right: min(1.6vw, 23.04px);
    margin-bottom: 0vw;

    resize: none;
    overflow: hidden;

    font-size: min(1.33vw, 1.2rem); /* 1.2rem ≈ 1.33vw */
    line-height: min(3.2vw, 46.08px);
    text-align: center;
}

.PListAddModal .createToClean > textarea:focus {
    border: 1.5px solid #aee9d1;
    outline: none;
    box-shadow: 0 0 0 1px #aee9d1;
}

/* 마감 기한 */
.PListAddModal .createDeadLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(0.6vw, 8.64px);
}
.PListAddModal .date {
    width: min(12vw, 172.8px);
    height: min(3vw, 43.2px);
}

.PListAddModal .deadLine_text {
    font-weight: 549;
    font-size: min(1.11vw, 1rem);
    text-align: center;
    margin-left: 0;
}

.PListAddModal .DatePicker {
    width: min(13vw, 187.2px);
    height: min(3.6vw, 51.84px);
    border: none;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin-bottom: min(2.7vw, 38.88px);

    text-align: center;
    font-size: min(1.33vw, 1.2rem);
    line-height: min(3.6vw, 51.84px);
}

.PListAddModal .DatePicker:focus {
    border: 1.5px solid #aee9d1;
    outline: none;
    box-shadow: 0 0 0 1px #aee9d1;
}

/* 저장 버튼 */
.PListAddModal .Button_save {
    margin-left: min(23.5vw, 338.4px);
    margin-bottom: min(1.3vw, 18.72px);
    margin-top: min(0.3vw, 4.32px);

    width: min(8.1vw, 116.64px);
    height: min(3.33vw, 48px); /* px로 이미 고정됨 */
    border-radius: 15px;

    font-size: min(1.56vw, 22.4px);
    color: white;
    font-weight: bold;
    line-height: min(3.2vw, 46.08px);
}
