.PList {
    width: min(503px, 34.86vw); /* 기존 고정 → 화면에 맞춤 */
    height: min(865px, 59.9vw); /* 89.1vh */
    background-color: white;
    border-radius: 1.39vw; /* 20px */
    margin-top: 6vh;
    margin-bottom: 6.6vh;
    position: relative;
}

.PList h3 {
    font-size: min(24px, 1.67vw); /* 24px */
    text-align: center;
    padding-top: min(43px, 3vw); /* 반응형 간격 */
    padding-bottom: min(1.8vw, 25.92px);
    margin-bottom: 0;
    font-weight: bold;
}

.PList .Button_edit {
    position: absolute;
    right: min(28.9px, 2vw);
    top: min(20.23px, 1.4vw);
    width: min(79.46px, 5.5vw);
    height: min(40.45px, 2.8vw);
    border-radius: 15px;
    font-size: min(16px, 1.1vw);
    color: white;
    cursor: pointer;

    font-weight: bold;
}

.PList .Button_add2 {
    font-size: min(40.3px, 2.8vw); /* 반응형 텍스트 */
    font-weight: bold;

    width: min(417.312px, 28.9vw);
    height: min(73.9px, 5.1vw);
    border-radius: 15px;
    background-color: rgb(217, 217, 217);
    margin-left: min(3.1vw, 44.64px);
    padding-left: min(12px, 0.83vw);
    padding-bottom: min(0.8vw, 13px);
    margin-bottom: min(9.1px, 0.63vw);
    color: white;
}

.PList .profile {
    text-align: center;
    margin-bottom: min(2.1vw, 30.24px);
}

.PList .profile > img {
    width: min(4.89vw, 4.4rem);
    height: min(4.89vw, 4.4rem);
    border-radius: 50%;
    border: 0.3rem solid rgb(164, 235, 217);
}

.PList .title {
    display: flex;
    margin-left: min(0.3vw, 4.32px);
    margin-bottom: min(0.4vw, 5.76px);
    font-size: min(1.1vw, 15.84px);
    color: rgb(103, 103, 103);

    font-style: normal;
    font-weight: normal;
    font-family: sans-serif, "Noto Sans KR";
}

.PList .place_text {
    margin-left: min(4.85vw, 72px); /*3.6vw; */
}

.PList .toclean_text {
    margin-left: min(3.1vw, 44.64px);
}

.PList .deadLine_text {
    margin-left: min(7.8vw, 112.32px);
}

.PList .scrollBar {
    height: min(528.1px, 36.6vw);
    width: min(475px, 33vw);
    overflow-y: auto;
}

.scrollBar::-webkit-scrollbar {
    width: min(7px, 0.5vw);
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 20px;
}

.scrollBar::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 20px;
}
