.PListItem {
    display: flex;
    align-items: center;
    gap: min(2vw, 28.8px);
    width: min(29.03vw, 418.032px);
    height: min(5.4vw, 77.76px);
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    margin-left: min(3vw, 43.2px);
    margin-bottom: min(0.63vw, 9.072px);
    padding-left: min(0.83vw, 11.952px);
    position: relative;
}

.PListItem .place {
    font-size: min(1.1vw, 15.84px);
    margin-left: min(1.2vw, 17.28px);
    margin-right: min(1vw, 14.4px);
}

.PListItem .toClean {
    font-size: min(1.1vw, 15.84px);
    max-width: 11vw;
}

.PListItem .deadLine {
    font-size: min(1.1vw, 15.84px);
    position: absolute;
    left: min(19.5vw, 280.8px);
    max-width: min(4.2vw, 60.48px);
}

.PListItem .Button_done {
    width: min(3.47vw, 49.968px);
    height: min(2vw, 28.8px);
    border-radius: 10px;
    position: absolute;
    right: min(1vw, 14.4px);
    color: white;

    font-size: min(0.9vw, 12.96px);
    font-weight: bold;
}

.PListItem .Button_delete {
    width: min(3.47vw, 49.968px);
    height: min(2vw, 28.8px);
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 0.4vw;

    position: absolute;
    right: min(0.7vw, 10.08px);

    font-size: min(1.5vw, 21.6px);
    color: rgb(103, 103, 103);
}
