.GList {
    width: 34.86vw; /* 기존 고정 → 화면에 맞춤 */
    height: 56.75vw; /* 89.1vh */
    background-color: white;
    border-radius: 1.39vw; /* 20px */
    margin-top: 6.7vh;
    margin-bottom: 6.6vh;
    position: relative;
}

.GList h3 {
    font-size: 1.67vw; /* 24px */
    text-align: center;
    padding-top: 1.5vw; /* 반응형 간격 */
    padding-bottom: 3vw;
    margin-bottom: 0;
}

.GList .Button_edit {
    position: absolute;
    right: 2vw;
    top: 1.4vw;
    width: 5.5vw; /* 80px */
    height: 2.8vw;
    border-radius: 1vw;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}

.GList .Button_add1 {
    font-size: 2.8vw; /* 반응형 텍스트 */
    width: 28.8vw; /* 26.3rem → 반응형 */
    height: 5.3vw;
    border-radius: 1vw;
    background-color: rgb(217, 217, 217);
    margin-left: 3vw;
    padding-left: 0.83vw;
    margin-bottom: 0.63vw;
}

.GList .place {
    width: 11.4vw; /* 164px */
    height: 3.8vw; /* 55px */
    background-color: rgb(139, 226, 182);
    border-radius: 5.6vw;
    margin-left: 11.7vw;
    margin-bottom: 3vw;
    font-size: 2.1vw;
    line-height: 3.5vw;
    text-align: center;
}

.GList .title {
    display: flex;
    margin-left: 4.13vw;
    margin-bottom: 0.4vw;
    font-size: 1.1vw;
    color: rgb(103, 103, 103);
}

.GList .to-clean_text {
    margin-left: 3.6vw;
}

.GList .deadLine_text {
    margin-left: 7.5vw;
}

.GList .scrollBar {
    height: 35vw; /* 43.8vh, 일부러 마지막 ListItem 살짝 안보이게 함, 사용자에게 아래 커서 내릴 수 있음 보여주려고 */
    width: 33vw;
    overflow-y: auto;
}

.scrollBar::-webkit-scrollbar {
    width: 0.5vw;
}
.scrollBar::-webkit-scrollbar-thumb {
    background: rgb(68, 168, 113);
    border-radius: 0.7vw;
}
.scrollBar::-webkit-scrollbar-track {
    background: rgb(217, 217, 217);
    border-radius: 1vw;
}
