.PList {
    width: 502px;
    height: 802px;
    background-color: white;

    border-radius: 20px;
    position: relative;
}

.PList h3 {
    font-size: 24px;
    text-align: center;

    padding: 8%;
    margin-bottom: 0px;
}

.PList .Button_edit {
    position: absolute;
    right: 3%;
    top: 2%;

    width: 80px;
    height: 40px;
    border-radius: 15px;

    color: white;
    font-size: 15px;

    cursor: pointer;
}

.PList .profile {
    text-align: center;
    margin-bottom: 1.8rem;
}

.PList .title {
    display: flex;
    margin-left: 3.7rem;
    margin-bottom: 0.6rem;

    font-size: 1rem;

    color: rgb(103, 103, 103);
}

.PList .to-clean_text {
    margin-left: 3.4rem;
}

.PList .deadLine_text {
    margin-left: 5.6rem;
}

.PList .attribute {
    color: rgb(103, 103, 103);
    margin-left: 2.5rem;
}
