@font-face {
    font-family: "NotoSansKR";
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: "NotoSansKR", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
}

html,
#root {
    background-color: rgb(245, 245, 245);
}
